.user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    padding: 0.5rem;
  }
}