<div class="header">
  <div class="header__container">
    <div class="logo">
      <img src="https://w7.pngwing.com/pngs/269/405/png-transparent-career-development-job-application-for-employment-business-career-miscellaneous-trademark-logo.png" alt="">
    </div>
    <div class="navigation">
      <ul>
        <li><a href="#">Candidates</a></li>
        <li><a href="#">Vacancies</a></li>
      </ul>
    </div>
    
    <div class="user-profile">
      <app-header-user-profile></app-header-user-profile>
    </div>
  </div>
</div>